<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{base}">
<title layout:fragment="title">A Form</title>

<div layout:fragment="content">
    <form method="post" th:object="${someData}">
        <div class="form-group">
            <label for="anInt">anInt:</label>
            <input type="number" th:field="*{anInt}" class="form-control" id="anInt" required>
        </div>
        <br>
        <div class="form-group">
            <label for="aString">aString:</label>
            <input type="search" th:field="*{aString}" class="form-control" id="aString" required>
        </div>
        <br>
        <div class="form-group">
            <label for="aBoolean">aBoolean:</label>
            <input type="checkbox" th:field="*{aBoolean}" id="aBoolean">
        </div>
        <br>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>

</html>
